<div class="container" id="characterDisplay">
  <div class="row">
    <div class="col-md-12">
        <br><br><br><br>
      <h1>{{childCurrentCharacter.name}}</h1>
      <h2>Class: {{childCurrentCharacter.charClass}}</h2>
      <hr>
      <h4>HP: {{childCurrentCharacter.hp}}/{{childCurrentCharacter.maxHp}}</h4>
      <h4>MP: {{childCurrentCharacter.mp}}/{{childCurrentCharacter.maxMp}}</h4>
      <h3>XP: {{childCurrentCharacter.exp}}/{{childCurrentCharacter.maxExp}}</h3>
      <hr>
      <h1>STATS</h1>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h4>STR: {{childCurrentCharacter.str}}</h4>
          <h4>INT: {{childCurrentCharacter.int}}</h4>
          <h4>DEX: {{childCurrentCharacter.dex}}</h4>
        </div>
        <div class="col-md-6">
          <h4>DEF: {{childCurrentCharacter.def}}</h4>
          <h4>LUCK: {{childCurrentCharacter.luck}}</h4>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <button type="button" class="btn" (click)="initiateFight()">Initiate Fight!</button>
  <br><br><br>
</div>
