<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>{{childCurrentCharacter.name}}</h1>
      <h2>Class: {{childCurrentCharacter.charClass}}</h2>
      <hr>
      <h5>HP: {{childCurrentCharacter.hp}}/{{childCurrentCharacter.maxHp}}</h5>
      <h5>MP: {{childCurrentCharacter.mp}}/{{childCurrentCharacter.maxMp}}</h5>
      <h5>XP: {{childCurrentCharacter.exp}}/{{childCurrentCharacter.maxExp}}</h5>
      <hr>
      <h3>STATS</h3>
      <div class="row">
        <div class="col-md-6">
          <h5>STR: {{childCurrentCharacter.str}}</h5>
          <h5>INT: {{childCurrentCharacter.int}}</h5>
          <h5>DEX: {{childCurrentCharacter.dex}}</h5>
        </div>
        <div class="col-md-6">
          <h5>DEF: {{childCurrentCharacter.def}}</h5>
          <h5>LUCK: {{childCurrentCharacter.luck}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
