<div class="container">
  <router-outlet></router-outlet>
  <!-- <app-welcome (childStartButton)="startGame()"></app-welcome> -->
  <!-- <app-character-create [childStartButtonClicked]=(startClicked) (sendCurrentCharacter)="setCurrentCharacter($event)"></app-character-create>
  <app-character-display *ngIf="currentCharacter && !isFighting" [childCurrentCharacter]="currentCharacter" (childInitiateFight)="setFighting(); setCurrentMonster();"></app-character-display>
  <app-battle-seq *ngIf="currentCharacter && isFighting && currentCharacter.hp > 0 && currentMonster.hp > 0" [currentMonster]="currentMonster" [childCurrentCharacter]="currentCharacter" (setFighting)="setFighting()"></app-battle-seq> -->
</div>
