.container{
  background-image: url('https://i.pinimg.com/originals/73/e7/1f/73e71fd636407bd0e659f0f664dd136a.png');
  background-repeat: no-repeat;
  background-size: 1110px 800px;
  height: 900px;
  padding: 100px;
  text-align: center;
}

.card{
  height: 375px;
  width: 256px;
  border: 3px solid black;
  box-shadow: 0px 0px 15px white;
}

.card.characterExist:hover{
  box-shadow: 0px 0px 30px white;
}

.characterExist{
  background: #0E0D12;
  color: white;
}

img{
  height: 300px;
  width: 250px;
  border-bottom: 1px solid black;
}

h1, h2, label, p, h4{
  font-family: 'MedievalSharp', cursive;
  font-weight: bold;
  text-shadow: 0px 0px 40px white;
}

label{
  font-size: 25px;
}

label > input {
  visibility: hidden;
  position: absolute;
}

label > input + img{
  cursor: pointer;
  border: 2px solid transparent;
}

label > input:checked + img {
  border: 3px solid crimson;
  box-shadow: 0px 0px 20px darkred;
}
