<div class="container" id="characterSelect">
  <br><br><br><br>
  <h1>SELECT A CHARACTER</h1>
  <hr>
  <div class="row">
    <div class="col-md-4" id="slot1">
      <div class="card">
        <div *ngIf="playerHasCharAt1; else filler1">
          <img src="{{currentCharacter.imgUrl}}">
          <h2>{{currentCharacter.name}}</h2>
          <h4>{{currentCharacter.charClass}}</h4>
        </div>
        <div #filler1 class="text-center">
          <button class="btn">Create Character</button>
        </div>
      </div>
    </div>
    <div class="col-md-4" id="slot2">
      <div class="card">
        <div *ngIf="playerHasCharAt2; else filler2">
          <img src="{{currentCharacter.imgUrl}}">
          <h2>{{currentCharacter.name}}</h2>
          <h4>{{currentCharacter.charClass}}</h4>
        </div>
        <div #filler2 class="text-center">
          <button class="btn">Create Character</button>
        </div>
      </div>
    </div>
    <div class="col-md-4" id="slot3">
      <div class="card">
        <div *ngIf="playerHasCharAt3; else filler3">
          <img src="{{currentCharacter.imgUrl}}">
          <h2>{{currentCharacter.name}}</h2>
          <h4>{{currentCharacter.charClass}}</h4>
        </div>
        <div #filler3 class="text-center">
          <button class="btn">Create Character</button>
        </div>
      </div>
    </div>
  </div>
</div>
