#battleSequence{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 200px;
    margin-bottom: 200px;
    background-image: url('https://image.freepik.com/free-photo/grunge-paper_1048-5207.jpg');
    background-repeat: no-repeat;
    background-size: 1200px 1200px;
    padding: 50px;
    padding-top: 10px;
    text-align: center;
    border-radius: 25px;
    border: 4px solid black;
    box-shadow: 0px 0px 20px white;
}
#battleSequence button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#monsterContainer{
    width: 80%;
    height: 55%;
    background-image: url('../../assets/img/dungeon.png');
    background-position: -550px -550px;
    box-shadow: 0px 0px 15px black inset;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 5px;
}

#monsterContainer img{
  height: 100px;
  width: 100px;
}


progress {
  width: 300px;
  height: 15px;
  background: crimson;
  border-radius: 5px;
  border: 4px solid black;
  box-shadow: 0px 0px 20px black;
}


progress::-webkit-progress-value {
  background: firebrick;
}

.mpBar::-webkit-progress-value{
  background: royalblue;
}

.useItem{
    font-size: 12px;
    padding: 10px;
}

.card{
  padding: 10px;
  border: 2px solid black;
  box-shadow: 0px 0px 10px black;
}

.card img{
  height: 50px;
  width: 25px;
  margin-left: auto;
  margin-right: auto;
}

h6, h3, h4, select, label, p{
  font-family: 'MedievalSharp', cursive;
  font-weight: bold;
  text-shadow: 0px 0px 15px white;
}

p{
  font-size: 15px;
  font-weight: bolder;
}

hr{
  border: 2px solid black;
  border-radius: 15px;
  opacity: 0.6;
}
